@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&family=Dancing+Script&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Cutom properties */
/* ff = font family, f=font, w = weight, s=size */
:root {
  --ff-primary: "Fira Sans", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-logo: "Dancing Script", cursive;

  --fw-regular: 300;
  --fw-bold: 900;
  --fw-700: 700;
  --light-color: #fff;
  --dark-color: #303030;

  --accent-color: #157d82;
  --accent-secondary-color: #00aaff;
  --color-grey: #111;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.125);
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--light-color);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.btn:hover {
  transform: scale(1.1);
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

/* section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
section {
  padding: 3.5em 2em;
  max-width: 1280px;
  /* margin: 0 auto 2em; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

strong {
  font-weight: var(--fw-bold);
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.7em 1.5em;
  background: var(--light-color);
  color: var(--color-grey);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  transition: transform 200ms ease-in-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em 4em;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header .logo {
  position: relative;
  font-size: 2.5em;
  color: var(--light-color);
  font-weight: var(--fw-700);
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  letter-spacing: 4px;
  font-family: var(--ff-primary);
}

header .toggle {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  background: url(../img/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .toggle.active {
  background: url(../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 27px;
}

header .toggle::before {
  content: "Menu";
  position: absolute;
  right: 50px;
  text-transform: uppercase;
  color: var(--light-color);
  letter-spacing: 2px;
  padding: 5px 5px;
  font-size: 14px;
  background: var(--light-color);
  color: var(--color-grey);
}

header .toggle.active::before {
  content: "Close";
}

section video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glass {
  position: fixed;
  top: 105px;
  left: 0;
  width: 0;
  height: 100%;
  backdrop-filter: blur(15px);
  z-index: 1;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  transition-delay: 150ms;
}

section.active .glass {
  width: 100%;
  backdrop-filter: blur(20px);
  transition-delay: 0s;
  opacity: 1;
}

section .content {
  top: 8em;
  position: relative;
  z-index: 10;
  text-align: center;
  transition: 0.5s;
  transition-delay: 200ms;
}

section.active .content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}

section .sci {
  position: fixed;
  bottom: 40px;
  right: 100px;
  display: flex;
  z-index: 100;
}

section .sci li {
  list-style: none;
  margin: 5px;
  padding: 0 6px;
  background: var(--light-color);
  transition: 150ms;
  transition-delay: calc(180ms * var(--i));
}

section.active .sci li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
}

section .sci li a {
  color: var(--color-grey);
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: var(--fw-regular);
  font-size: 14px;
  padding: 4px 4px;
  text-transform: uppercase;
}

section .navigation {
  top: 50%;
  left: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  transform: translate(-50%, -50%);
}

section .navigation li {
  list-style: none;
  text-align: center;
  margin: 1.5em 0;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  transform: translateX(200px);
}

section .navigation li a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
  letter-spacing: 4px;
  text-transform: uppercase;
  background: var(--light-color);
  padding: 4px 10px;
  display: inline-block;
}

section.active .navigation li {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

section .navigation li a:hover {
  background: var(--color-grey);
  color: var(--light-color);
}

.content section {
  margin: 1.5em auto;
}

.content section:last-child {
  padding-bottom: 3em;
}
/* intro */
.section__title--intro {
  font-weight: var(--fw-regular);
  font-size: 2.5em;
  line-height: 1.3em;
  margin-bottom: 0.2em;
}
.section__title--intro strong {
  display: block;
}
.section__subtitle--intro,
.section__subtitle--about {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  font-family: var(--ff-primary);
  margin-bottom: 1em;
  padding: 1em 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.intro {
  position: relative;
}
.intro__img {
  box-shadow: var(--box-shadow);
}

/* My services */

.my-services {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  z-index: 1;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  color: var(--light-color);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.section__title--services {
  color: var(--light-color);
  position: relative;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2.5em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--light-color);
  opacity: 0.5;
}

.services {
  margin-bottom: 2em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.service h3 {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  padding: 0.5em 0;
  margin-bottom: 1.5em;
}

.service p {
  margin-bottom: 1.5em;
}

/* My Work */

.my-work {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: var(--light-color);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.my-work h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}

.section__subtitle--work {
  color: var(--light-color);
  font-weight: var(--fw-regular);
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--accent-color);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* media query */
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 240px;
    min-height: 255px;
    position: relative;
    z-index: 0;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -2em;
    width: calc(100% + 3em);
    margin-top: 2.5em;
  }

  section .sci {
    padding: 50px;
    /* right: 0px; */
  }
}

@media screen and (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}
